.register-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
  background: linear-gradient(135deg, #f1c40f, #f39c12);
}

.register-card {
  background: #fff;
  padding: 30px;
  width: 40%;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.register-card h2 {
  text-align: center;
  margin-bottom: 10px;
}

.register-card input {
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ddd;
  transition: 0.3s;
}

.register-card input:focus {
  border-color: #f1c40f;
  outline: none;
  box-shadow: 0 0 5px rgba(241,196,15,0.5);
}

/* Upload */
.upload-box {
  background: #f9f9f9;
  padding: 12px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  border: 1px dashed #ccc;
  transition: 0.3s;
}

.upload-box:hover {
  background: #fff8dc;
  border-color: #f1c40f;
}

/* Preview */
.preview-box {
  position: relative;
  width: 100px;
  margin: auto;
}

.preview-box img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}

.preview-box button {
  position: absolute;
  top: -8px;
  right: -8px;
  background: red;
  color: white;
  border: none;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  cursor: pointer;
}

/* Button */
.submit-btn {
  background: #f1c40f;
  border: none;
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.submit-btn:hover {
  background: #d4ac0d;
}

/* Text */
.register-card p {
  text-align: center;
}

.register-card a {
  color: #f39c12;
  font-weight: bold;
  margin-left: 5px;
}

@media (max-width:767px) {
  .register-card {
    width: 95%;
  
  }
  
}