.add-product-container{
  width:100%;
  max-width:450px;
  margin:auto;
  padding:20px;
}

.add-product-card{
  background:#fff;
  padding:25px;
  border-radius:14px;
  box-shadow:0 5px 20px rgba(0,0,0,0.08);
}

.add-product-card h2{
  text-align:center;
  margin-bottom:20px;
}

.add-product-card input,
.add-product-card textarea{
  width:100%;
  padding:12px;
  margin-bottom:12px;
  border:1px solid #ddd;
  border-radius:8px;
}

.add-product-card textarea{
  min-height:100px;
}

.row{
  display:flex;
  gap:10px;
}

.row input{
  flex:1;
}


.add-product-card select {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #fff;
  cursor: pointer;
}

.upload-box{
  display:block;
  text-align:center;
  padding:14px;
  border:2px dashed #ccc;
  border-radius:10px;
  cursor:pointer;
  margin-bottom:15px;
}

.images-preview{
  display:flex;
  flex-wrap:wrap;
  gap:10px;
  margin-bottom:15px;
}

.image-item{
  position:relative;
}

.image-item img{
  width:100px;
  height:100px;
  object-fit:cover;
  border-radius:10px;
}

.image-item button{
  position:absolute;
  top:-5px;
  right:-5px;
  background:red;
  color:#fff;
  border:none;
  border-radius:50%;
  width:22px;
  height:22px;
  cursor:pointer;
}

.btn-addProduct{
  width:100%;
  padding:12px;
  background:#000;
  color:#fff;
  border:none;
  border-radius:10px;
  cursor:pointer;
}